// Overwrite default Bootstrap variables
$primary: #52b47b;
$secondary: #f4f4f4;
$dark: #445764;



// Import Bootstrap after variable overrides
@import "~bootstrap/scss/bootstrap";



p {
    font-family: "Inter", Helvetica, Arial, sans-serif;
    color: $dark;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Helvetica, Arial, sans-serif;
    color: $dark;
}


header {
    background-image: url("../images/BENE_Background_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #445764;
}

input {
    background: transparent!important;
    border: 0px!important;
    border-radius: 0!important;
    border-bottom: 1px solid $white!important;
    &::placeholder {
        color: $white!important;
    }
}



.row {
    max-width: 1140px;
    margin: auto;
}

.fs-7 {
    font-size: 1.1rem!important;
}


.btn {
    border-radius: 0;
    // width: 180px;
    // height: 45px;
}



.green {
  color: $primary;
}
.white {
  color: $light;
}