// Overwrite default Bootstrap variables
$primary: #52b47b;
$secondary: #f4f4f4;
$dark: #445764;



// Import Bootstrap after variable overrides
@import "~bootstrap/scss/bootstrap";

* {box-sizing: border-box;}


p {
    font-family: "Inter", Helvetica, Arial, sans-serif;
    color: $dark;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Helvetica, Arial, sans-serif;
    color: $dark;
}


header {
    background-image: url("../images/BENE_Background_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #445764;
}

input {
    background: transparent!important;
    border: 0px!important;
    border-radius: 0!important;
    border-bottom: 1px solid $white!important;
    &::placeholder {
        color: $white!important;
        font-size: 12px;
    }
}



section .container .row {
    max-width: 1140px;
    margin: auto;
}

.fs-7 {
    font-size: 1.1rem!important;
}


.btn {
    border-radius: 0;
    // width: 180px;
    // height: 45px;
}



.green {
  color: $primary;
}
.white {
  color: $light;
}



// image slider styling

.img-comp-container {
  position: relative;
  height: 300px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  // vertical-align: middle;
}

.img-comp-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: $primary;
  border-radius: 50%;
}

.img-comp-overlay {
  border-right: 1px solid $white;
}